@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
   font-family: 'Lato', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

/*targeting Hey! I'm Brooklynn Stevenson*/
h1 {
    font-size: 32px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    /* this makes the bullet points disappear*/ 
    list-style-type: none;
}

/*this will cause the child of flex-1 to also have 100% height*/
.flex {
    display: flex;
}
/*this makes about me section the entire height of the page*/
.flex-1 {
    flex: 1;
}

/*add padding to my technology stack section*/
.container {
    padding: 50px 0;
}

/* this stops the container from expanding the entire width of the page.
Here we will cap the width. We do width: 100% because we don't want to hard code and so this section will stay responsive.*/
.row {
   width: 100%;
   max-width: 800px;
   /*this centers what we are targeting*/
   margin: 0 auto; 
   padding: 0 12px;
}

/*this will target Brooklynn Stevenson in "Hey! I'm Brooklynn Stevenson"*/
.text--purple {
    color: #6030b1;
}

/*for every second section there will be a gray background color*/
section:nth-child(even) {
    background-color: #f8f8f8;
  }

  /* margin under "This is my technology stack title"*/
  .section__title {
    margin-bottom: 20px;
  }

/* NAVIGATION BAR */

nav {
   height: 100px;
   /* this makes it responsive*/
    width: 100%;
    max-width: 1000px;
    /* this centers the links*/
    margin: 0 auto;
    /*make them side by side*/
    display: flex;
    /*this sends it to both sides of the page*/
    justify-content: space-between;
    /* center the links vertically*/
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

/*style the links*/
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    /*this removes the underline under the anchors*/
    text-decoration: none;
    font-weight: 700;
}

/*style the contact link*/
.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    /*when you hover over contact, this will make the color transition smoothly*/
    transition: all 300ms ease;
}

/*make the background color change on contact when you hover over it*/
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

/* Style the name logo in the nav bar */
.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*
Tagret About me Id
*/

#about-me {
    /*this makes the height the entire height of the page */
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

/*make the figure the entire rest of the height of the page*/
.about-me__info {
    display: flex;
    flex-direction: column;
}

/*
ABOUT ME INFO CONTAINER
*/

.about-me__info--container {
    display: flex;
    /*this stops it from being side by side*/
    flex-direction: column;
    
    /*this centers everything*/
    align-items: center;
    /* decrease how wide the container is*/
    max-width: 600px;
    /*this centers everything in the container*/
    margin: 0 auto;
    /*centers text*/
    text-align: center;
}

/*
Styling Tech photo
*/

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    /*border-radius and overflow make the photo round and hides any overflow over 50%*/
    border-radius: 50%;
    overflow: hidden;
    /*this puts a shadow behind the image. 8px pushes the shadow down
    12px blurs the shadow, and rgba gives its color*/
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16); 
    /*puts gab in between picture and text*/
    margin-bottom: 28px;
}

/*the picture is large and overlapping in sections. 
to make the pictures width and height 100px we have to make
the picture 100% width of its parent*/
.about-me__picture {
    width: 100%;

    /*Improving my own picture*/
    /*this zooms in on image*/
    transform: scale(1.3);
    /*padding-top will add space inside the image at the top*/
    padding-top: 12px;
}

/*adds space under "Hey! I'm Brooklynn Stevenson" text*/
.about-me__info--title {
    margin-bottom: 16px;
}

/*this is targeting the paragraph text under Hey! I'm Brooklynn Stevenson*/
.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

/*style linkedin, github, envelope, pdf icons and make them bigger*/
.about-me__link {
    font-size: 20px;
    color: #242424;
    /*removes lines under icon*/
    text-decoration: none;
    padding: 0 16px;
}

/*this makes the undraw_website image fill the rest of the page, which is what we want*/
.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 72px;
}

/*target the img and make the width 100% of the parent*/
.about-me__img {
    width:100%;
}

/*
TECH - STACK 
*/

/*target the img ad make it responsive*/
.language__img {
    width: 100%;
    max-width: 100px;
}

/*hover effect on tech images*/
.language__img:hover {
    /*this makes the symbol dark/black or bright when hovering over it*/
    filter: brightness(80%);
    /*this will determie if the img will disappear or still be preset whe hovering over it*/
    opacity: 0.86;
    /*this determines if the img will get bigger or smaller when you hover over it*/
    transform: scale(0.9);
}

.language {
    width: 25%;
}
.language__img--wrapper {
    /*center it in the 25% width*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 16px;
    /*25% of the container*/
    /*move this to .language, which is the parent, instead to change the size of the img boxes
    width: 25%; */
}

/*display flex to stack the tech images horizontally*/
.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /*the language__img--wrapper isn't the entire width of the page so the images are going to be small
    to fix this we have to */
}