@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
   font-family: 'Lato', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

/*targeting Hey! I'm Brooklynn Stevenson*/
h1 {
    font-size: 32px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    /* this makes the bullet points disappear*/ 
    list-style-type: none;
}

/*this will cause the child of flex-1 to also have 100% height*/
.flex {
    display: flex;
}
/*this makes about me section the entire height of the page*/
.flex-1 {
    flex: 1;
}

/*add padding to my technology stack section*/
.container {
    padding: 50px 0;
}

/* this stops the container from expanding the entire width of the page.
Here we will cap the width. We do width: 100% because we don't want to hard code and so this section will stay responsive.*/
.row {
   width: 100%;
   max-width: 800px;
   /*this centers what we are targeting*/
   margin: 0 auto; 
   padding: 0 12px;
}

/*this will target Brooklynn Stevenson in "Hey! I'm Brooklynn Stevenson"*/
.text--purple {
    color: #6030b1;
}

/*for every second section there will be a gray background color*/
section:nth-child(even) {
    background-color: #f8f8f8;
  }

  /* margin under "This is my technology stack title"*/
  .section__title {
    margin-bottom: 20px;
  }

/* NAVIGATION BAR */

nav {
   height: 100px;
   /* this makes it responsive*/
    width: 100%;
    max-width: 1000px;
    /* this centers the links*/
    margin: 0 auto;
    /*make them side by side*/
    display: flex;
    /*this sends it to both sides of the page*/
    justify-content: space-between;
    /* center the links vertically*/
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

/*style the links*/
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    /*this removes the underline under the anchors*/
    text-decoration: none;
    font-weight: 700;
}

/*style the contact link*/
.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    /*when you hover over contact, this will make the color transition smoothly*/
    transition: all 300ms ease;
}

/*make the background color change on contact when you hover over it*/
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

/* Style the name logo in the nav bar */
.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*
Tagret About me Id
*/

#about-me {
    /*this makes the height the entire height of the page */
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

/*make the figure the entire rest of the height of the page*/
.about-me__info {
    display: flex;
    flex-direction: column;
}

/*
ABOUT ME INFO CONTAINER
*/

.about-me__info--container {
    display: flex;
    /*this stops it from being side by side*/
    flex-direction: column;
    
    /*this centers everything*/
    align-items: center;
    /* decrease how wide the container is*/
    max-width: 600px;
    /*this centers everything in the container*/
    margin: 0 auto;
    /*centers text*/
    text-align: center;
}

/*
Styling Tech photo
*/

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    /*border-radius and overflow make the photo round and hides any overflow over 50%*/
    border-radius: 50%;
    overflow: hidden;
    /*this puts a shadow behind the image. 8px pushes the shadow down
    12px blurs the shadow, and rgba gives its color*/
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16); 
    /*puts gab in between picture and text*/
    margin-bottom: 28px;
}

/*the picture is large and overlapping in sections. 
to make the pictures width and height 100px we have to make
the picture 100% width of its parent*/
.about-me__picture {
    width: 100%;

    /*Improving my own picture*/
    /*this zooms in on image*/
    transform: scale(1.3);
    /*padding-top will add space inside the image at the top*/
    padding-top: 12px;
}

/*adds space under "Hey! I'm Brooklynn Stevenson" text*/
.about-me__info--title {
    margin-bottom: 16px;
}

/*this is targeting the paragraph text under Hey! I'm Brooklynn Stevenson*/
.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

/*style linkedin, github, envelope, pdf icons and make them bigger*/
.about-me__link {
    font-size: 20px;
    color: #242424;
    /*removes lines under icon*/
    text-decoration: none;
    padding: 0 16px;
}

/*this makes the undraw_website image fill the rest of the page, which is what we want*/
.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 72px;
}

/*target the img and make the width 100% of the parent*/
.about-me__img {
    width:100%;
}

/*
TECH - STACK 
*/

/*target the img ad make it responsive*/
.language__img {
    width: 100%;
    max-width: 100px;
}


/*hover effect on tech images*/
.language:hover .language__img {
    /*this makes the symbol dark/black or bright when hovering over it*/
    filter: brightness(80%);
    /*this will determie if the img will disappear or still be preset whe hovering over it*/
    opacity: 0.86;
    /*this determines if the img will get bigger or smaller when you hover over it*/
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    /*centers the language text*/
    justify-content: center;
    /*this makes the img text bottom: 0 (language__name) position relative to its parent, if not it will be bottom: 0 the page*/
    position: relative;
}
.language__img--wrapper {
    /*center it in the 25% width*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 16px;
    /*25% of the container*/
    /*move this to .language, which is the parent, instead to change the size of the img boxes
    width: 25%; */
}

/*display flex to stack the tech images horizontally*/
.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /*the language__img--wrapper isn't the entire width of the page so the images are going to be small
    to fix this we have to */
}

/*we don't want the language__name class to be aprt of the actual img box so we can target the language__name to separate and style it individually*/
.language__name {
    /*separates it from the actual image box and not affecting the parents size*/
    position: absolute;
    bottom: 0;
    transform: scale(0);
    /*makes the hover transitio smooth*/
    transition: all 300ms;
    font-size: 20px;
    /*the animation fades in smoothly*/
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

/* PROJECTS */

/*this puts space under every project to create more 
appealing space between them*/
.project {
    margin-bottom: 135px;
  }
  
  /*doing the project "last child" at margin-bottom: 40px;
  takes away the large space that was originaly at the bottom
  of the page.*/
  .project:last-child {
    margin-bottom: 40px;
  }
  
  .project__img {
    width: 100%;
    /*this connects to ".project:hover .project__img" and makes the transition 
    of the zooming in and blur to transition smoothly */
    transition: all 500ms ease;
  }
  
  /*this the parent of the project boxes*/
  /*box shadow creates a shadow around the project boxes*/
  /*OVERFLOW: HIDDEN IS POWERFUL FOR CSS, ESPECIALLY IMGS WITHIN CONTAINERS
  OVERFLOW: HIDDEN WILL ALLOW THE over flow from the img to be hidden so 
  when using border-radius: 20px; the edges/corners will be able to become round*/
  /*DISPLAY: FLEX  allows the img to be the same size as thre parent it is fitting in*/
  /*also always position images relative to it's parent*/
  .project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  /*this is for the hover effect on the images*/
  /*THIS IS A PSEUDO CLASS(project__wrapper) THAT HAS A PSUEDO SELECTOR (before)*/
  /*Pseudo classes always need content: ""; even if there is nothing in it*/
  /*Pseudo classes also always need "position: absolute" so this pseudo class doesn't effect to the position
  of anything*/ 

  /*You have to put pseudo classes height and width 100% of it's parent which is "project__wrapper"*/
  .project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    /*the opacity at zero is the default of the container which will show the hover invisible when hovering over it*/
    opacity: 0;
    /*makes a smoother transition when hovering over it*/
    transition: all 450ms ease;
    /*z-index is important when using hover affects a z-i9ndex of 1 will cover the first
    thing in the container i.e. the image*/
    /*z-index 0 wont show the background color and will stay behind image, 1-3 will, and 4 will overlap and come infornt of everything including text,*/
    z-index: 1;
    transform: translateY(100%);
  }

  /*this connects with the opacity in "project__wrapper:before"*/
  .project:hover .project__wrapper:before {
    transform: translateY(0);
    /*the opacity will now show visibility when hovering over it*/
    opacity: 0.7;
  }

  /*this scale will cause the img to zoom in when hovering over it and the 
  filter: blur(x) will cause it to blur*/
  .project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
  }
  
  /*we only want to see the text when we hover over the project.
  however before this styling below the text/description would show up on the image
  without the hover background so we do opacity 1 on project:hover and do opacity: 0
  on .project__description to prevent this*/
  .project:hover .project__description {
    /*now we will see the project description*/
    opacity: 1;
    /*this makes the text come from the bottom of the image*/
    transform: translateY(-50%);
  }
  
  /*this puts space between list containers/images, it also creates space between the header (here are some of my projects) for the unordered list
  and the first img project*/
  .project__list {
    padding-top: 40px;
  }
  

  /*This is for the text on top of the hover*/
  .project__description {
    /*do position: absolute to make the text independent from everything and only on the parent*/
    position: absolute;
    /*now center the text*/
    top: 50%;
    left: 90px;
    /*transform: translateY(-50%) puts the description in the center
    while transform: translateY(100%) will put the scription a little further down*/
    transform: translateY(100%);
    max-width: 550px;
    /*the background img is a z-index of 2 so to make the text visible
    we have to bring it on top of the hover background and make the z-index a 3*/
    z-index: 3;
    /*text description wont show when hovering background isn't there with opacity: 0. look at project:hover .project__description*/
    opacity: 0;
    /*this transition is for the opacity*/
    /*transform 450ms will make the text come from the bottom of the image 
    when you pair it with transformY(-50%) in ".project:hover .project__description" 
    and transform: translateY(100%) under .project__description*/
    transition: transform 450ms, opacity 300ms;
  }
  
  .project__description--title {
    font-size: 40px;
  }
  
  /*add space to the top and bottom (16px) and 0 left and right of paragraph*/
  .project__description--para {
    margin: 16px 0;
  }
  
  .project__description--link {
    font-size: 20px;
    margin-right: 16px;
  }
  
  /*push the text to the left*/
  .project__description--title,
  .project__description--sub-title,
  .project__description--para,
  .project__description--link {
    text-align: left;
    color: #fff;
  }
  
  /* FOOTER */
  
  footer {
    background-color: #242424;
  }
  
  .footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
  }
  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
  }
  
  .footer__logo--img {
    width: 70px;
    height: 70px;
  }
  
  .footer__social--link,
  .footer__copyright,
  .footer__logo--popper {
    color: #fff;
  }
  
  .footer__logo--popper {
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
  }
  
  .footer__anchor {
    margin-bottom: 20px;
    position: relative;
  }
  
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
  }
  
  /* Small phones, tablets, large smartphones */
  @media (max-width: 768px) {
    nav {
      height: 68px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .about-me__info--para {
      font-size: 18px;
    }
  
    .language {
      width: calc(100% / 3);
    }
  
    .project__description--para {
      font-size: 14px;
    }
  
    .project__description {
      left: 30px;
      padding-right: 30px;
    }
  }
  
  /* SMALL PHONES */
  @media (max-width: 480px) {
    .nav__link:not(:last-child) {
      display: none;
    }
  
    .project__wrapper {
      border-radius: 0;
    }
  
    .project__description {
      padding: 0;
      left: 0;
      width: 100%;
    }
  
    .project__description--para {
      display: none;
    }
  
    .project__description--links {
      display: flex;
      justify-content: center;
    }
  
    .project__description--title {
      font-size: 32px;
      line-height: 1;
      text-align: center;
    }
  
    .project__description--sub-title {
      text-align: center;
      margin: 12px 0;
    }
  }