@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
   font-family: 'Lato', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    /* this makes the bullet points disappear*/ 
    list-style-type: none;
}

/* NAVIGATION BAR */

nav {
   height: 100px;
   /* this makes it responsive*/
    width: 100%;
    max-width: 1000px;
    /* this centers the links*/
    margin: 0 auto;
    /*make them side by side*/
    display: flex;
    /*this sends it to both sides of the page*/
    justify-content: space-between;
    /* center the links vertically*/
    align-items: center;
}

.nav__link--list {
    display: flex;
}

/*style the links*/
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    /*this removes the underline under the anchors*/
    text-decoration: none;
    font-weight: 700;
}

/*style the contact link*/
.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    /*when you hover over contact, this will make the color transition smoothly*/
    transition: all 300ms ease;
}

/*make the background color change on contact when you hover over it*/
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

/* Style the name logo in the nav bar */
.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*

*/